@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(variables.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
layout
*/

body{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar container';
  height: 100vh;  
}

.header{
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-fondo);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  gap: 6px;
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a{
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-de-texto);
}

h1{
  font-size: 1.5rem;
}

hr{
  border: var(--hr-color);
  margin: 12px;
}

h4{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--h4-color);
  margin-left: 20px;
}

i{
  font-size: 1.5rem;
}

::-webkit-scrollbar{
  width: 8px;
  
}

::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar-color);
}

.header__logo-container{
  display: flex;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.header__logo-img{
  position: relative;
  height: 30px;
  width: 30px;
}

.header__logo h1{
  letter-spacing: -1px;
  color: var(--color-de-texto);
}

.search-container{
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 0 1 685px;
}

.search-container form{
  position: relative;
  width: 100%;
  display: flex;
}

.search-container input{
  width: 44px;
  width: 100%;
  background-color: var(--contenedor-busqueda);
  color: var(--color-de-texto);
  padding: 12px;
  outline: none;
  border: 1px var(--borde-de-busqueda);
  border-radius: 10px 0px 0px 10px;
}

.search-container button{
  width: 40px;
  height: 42px;
  background-color: var(--botones-fondo);
  color: var(--color-de-texto);
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-container form ~ button{
  width: 50px;
  border-radius: 100%;
  font-size: 18px;
}

.profile-container{
  display: flex;
  position: relative;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}

.profile-container a{
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--botones-fondo);
  color: var(--color-de-texto);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.8;
}

.profile-container a:hover{
  background-color: var(--botones-fondo);
}

.profile-container img{
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar{
  grid-area: sidebar;
  background-color: var(--sidebar);
  padding-top: 10px;
  overflow-y: scroll;
}

.sidebar-items__menu{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-item__botom{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  transition: 0.5s;
}

.sidebar-item__botom i{
  margin-right: 24px;
}

.sidebar-item__botom:hover{
  background-color: var(--sidebar-item);
}

.content{
  grid-area: container;
}

.content__chips-warpper{
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  background-color: #181818;
  display: flex;
  padding-left: 14px;
  border-top: var(--chips-top);
  border-bottom: var(--chips-bottom);
}

.content__chips-warpper::-webkit-scrollbar{
  height: 6px;
}

.content__chips-warpper::-webkit-scrollbar-thumb{
  background-color: #717171;
}

.chips__habilidades{
  margin: 12px 6px;
  background-color: var(--chips);
  padding: 6px 12px;
  color: var(--color-de-texto);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}

.chips__habilidades:hover{
  background-color: var(#d4d4d4);
}

.video-container{
  display: grid;
  /* grid-template-columns: repeat(4 , 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: max-content;
  padding: 20px;
  background-color: var(--video-container);
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.video-container-cover__carta-video{
  position: relative;
  transition: 0.5s;
}

.video-content{
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;
}

.video-content:hover{
  background-color: var(--video-content-hover);
}

.video-box__video-imgen{
  position: relative;
  width: auto;
  height: 145px;
  display: block;
  border-radius: 12px;
}

.video-box__video-imgen img{
  object-fit: cover;
  border-radius: 12px;
}

.video-detail{
  display: flex;
  color: var(--color-de-texto);
  padding-top: 12px;
}

.chanel-logo__usuario{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.detail{
  margin-left: 12px;
}

.detail__title{
  font-size: 0.8rem;
}

.detail__chanel-name{
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--h4-color);
}

.detail__views-upload{
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--h4-color);
}

.detail__upload{
  margin-left: 7px;
}

@media(max-width:1200px){
  body{
    grid-template-columns: 70px 1fr;
  }

  .sidebar-items__botom span, .sidebar-items__boto, h4{
    display: none;
  }

  .sidebar-items__botom{
    padding: 0;
  }

  .sidebar-item__botom{
    padding: 0 20px;
  }

  .content__chips-warpper{
    max-width: calc(100vw - 70px);
  }
}

@media (max-width:800px){
  .search-container{
    display: none;
  }
}